<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/weather-app.png}" width="30" height="24" class="d-inline-block align-text-top">
            Weather Tracker
        </a>
        <div class="d-flex align-items-center">
            <span class="navbar-text me-3" th:text="${user_name}">Name</span>
            <form th:action="@{/logout}" th:method="get">
                <button class="btn btn-outline-danger">Sign out</button>
            </form>
        </div>
    </div>
</nav>
