<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Viewer – Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="weather-logo"></div>
        </div>
    </div>

    <h2 class="text-center mb-5">Sign Up</h2>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <form th:action="@{/sign_up}" method="post" th:object="${user}" class="mt-4">
                <div class="mb-3">
                    <label for="name" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <input type="text" id="name"
                               name="name"
                               th:classappend="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
                               th:value="*{name}" required value=""/>
                        <div class="invalid-feedback" th:errors="*{name}" >
                            Password Error
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group has-validation">
                        <input type="email" id="email"
                               name="email"
                               th:classappend="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                               th:value="*{email}" required value=""/>
                        <div class="invalid-feedback" th:errors="*{email}" >
                            Password Error
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group has-validation">
                        <input type="password" id="password"
                               name="password"
                               th:classappend="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                               th:value="*{password}" required value=""/>
                        <div class="invalid-feedback" th:errors="*{password}" >
                            Password Error
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="confirmedPassword" class="form-label">Repeat password</label>
                    <div class="input-group has-validation">
                            <input type="password" id="confirmedPassword"
                                   name="confirmedPassword"
                                   th:classappend="${#fields.hasErrors('confirmedPassword')} ? 'form-control is-invalid' : 'form-control'"
                                   th:value="*{confirmedPassword}" required value=""/>
                            <div class="invalid-feedback" th:errors="*{confirmedPassword}" >
                                    ConfirmedPassword Error
                            </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100 mt-3">Sign Up</button>
                <p class="mt-2 text-center">Already have an account? <a href="/sign_in">Sign in here</a></p>
            </form>
        </div>
    </div>
</div>

</body>
</html>